asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
Django==4.2.8
django-mysql==4.12.0
idna==3.6
mysqlclient==2.1.1
requests==2.31.0
sqlparse==0.4.4
transaction==4.0
typing_extensions==4.9.0
urllib3==2.1.0
zope.interface==6.1
